<div class="addTripView">
	<div class=" container-addTripView">

	<!-- 헤더-->
		<div class="header-addTrip">
			<!-- 왼쪽패널 -->
					<img id="leftSideIcon" src="resources/images/backspace-32.png" data-pageslide="left" href="#leftPanel" data-ps-speed="0.5"
							data-ps-auto-close="true">	
								
				<!-- 제목 -->		
					<span id="addTripTitle">SUM행</span> 
					
				<!-- 오른쪽패널 -->				
					<img src="resources/images/save-32.png" data-ng-click="goMain()" id="addTripSaveBtn" >
		</div>				<!-- header-modifyMember End -->
	
	<!-- 여행 사진 -->
		<div id="addTripPhotoLabelSpace">
			<h4 id="addTripPhotoLabel">
				사진 선택
			</h4>
		</div>
		
	<!-- 여행 사진 선택 -->
		<div id="addTripPhotoSpace">
			<div id="addTripPhotoImg">
				<img src="resources/images/picture-attachment-128.png" id="tripFileUpdate" data-ng-click="goGalleryPhoto()">
				
			</div>
				<img data-ng-src="{{addTripImage}}">
			<div id="addTripPhotoText">
				<h5 id="addTripPhotoUpload">사진을 올려주세요.</h5>
			</div>
		</div>			<!-- addTripPhotoSpace End -->
		
	<!-- 여행 정보 올리기 폼 -->
			<form id="addTripForm" name="addTripForm" data-ng-submit="addTripRequest()" class="form-horizontal"
			data-ng-model="newTrip" novalidate>
			
			<!-- 여행지-->
				<div class="form-group" data-ng-class="{ 'has-error' : addTripForm.tripDestinationInput.$invalid && submitted}" id="destinationAddTripSpace">
					<label for="tripDestination" class="col-xs-2 control-label"id="destination-addTrip">
						여행지
					</label>
					<input type="text" class="form-control" id="tripDestinationInput"
						name="tripDestinationInput" placeholder="ex)홍콩, 제주도"
						data-ng-model="newTrip.travel" required>
				</div>		<!-- destination-addTrip End -->
				
			<!-- 여행제목-->
				<div class="form-group" data-ng-class="{ 'has-error' : addTripForm.tripTitleInput.$invalid && submitted}"  id="tripTitleAddTripSpace">
					<label for="tripTitleAddTrip" class="col-xs-2 control-label" id="tripTitleLabel">
						여행제목
					</label>
					<input type="text" class="form-control" id="tripTitleInput" name="tripTitleInput" 
					data-ng-model="newTrip.title" placeholder="여행 제목을 입력하세요." required>
				</div>			<!-- tripTitleLabel End -->
				
			<!-- 여행일정-->
			<div class="form-group" data-ng-class="{ 'has-error' : (addTripForm.datepicker3.$invalid || addTripForm.datepicker4.$invalid ) && submitted}"  id="scheduleAddTripSpace">
					<label for="datepicker2" class="col-xs-2 control-label" id="scheduleAddTrip">
						여행기간
					</label><br/>
					<input type="text" class="form-control" id="datepicker3" name="datepicker3" placeholder="출발"
						data-ng-model="newTrip.travelStart" required>
					<span id="scheduleSpan">
					<input type="text" class="form-control" id="datepicker4" name="datepicker4" data-ng-model="newTrip.travelEnd"
						placeholder="도착" required>
					</span>
			</div>		<!-- scheduleAddTrip End -->
				
			<!-- 모집인원-->
				<div class="form-group" data-ng-class="{ 'has-error' : addTripForm.tripNumberInputAddTrip.$invalid && submitted}" id="countAddTrip">
					<label for="addTripNumber" class="col-xs-2 control-label" id="tripNumberLabel-addTrip">
						모집인원
					</label>
					<input type="number" class="form-control" min="1" max="20" id="tripNumberInput-addTrip" name="tripNumberInputAddTrip"
					data-ng-model="newTrip.travelUserCount" placeholder="명" value="{{defaultNumber}}" required>
				</div>			<!-- tripNumberLabel-addTrip End -->
			
			<!-- 세부 내용-->
				<div class="form-group" id="contextAddTripSpace">
					<label for="tripContext" class="col-xs-4 control-label" id="addTripContextLabel">
						세부내용
					</label>
					<textarea class="form-control" rows="3" id="tripContextText"
						data-ng-model="newTrip.travelDescription"></textarea>
				</div>			<!-- contextAddTripSpace End -->
				
			<!-- 여행태그-->
				<div class="form-group" id="addTripTag">
					<label for="tripTag" class="col-xs-2 control-label" id="addTripTagLabel">
						TAG
					</label>
					<input type="text" class="form-control" id="tripTagInput"
					placeholder="ex)30대" data-ng-model="newTrip.travelTag">
				</div>			<!-- addTripTag End -->
				
			<!-- 여행올리기 -->
			<div class="form-group">
				<div class="col-xs-offset-2">
					<button type="submit" class="btn btn-warning btn-xs btn-block"
						id="updateTrip">여행 올리기</button>
				</div>
			</div>		
		</form>		<!-- 여행 정보 올리기  End -->			
		
	</div>			<!--container-addTripView -->
</div>			<!-- addTripView End -->

<!-- datepicker -->
<script>
	$(function() {
		$("#datepicker3").datepicker({
			dateFormat : 'yy-mm-dd'
		});
	});

	$(function() {
		$("#datepicker4").datepicker({
			dateFormat : 'yy-mm-dd'
		});
	});

	$(function() {

	});
</script>
