 




<div class="intro view">
  
  	 
  
   <div class="container">
     
	 <div style="height: 305px">
		    <carousel interval="myInterval">
		      <slide ng-repeat="slide in slides" active="slide.active">
		        <img ng-src="{{slide.image}}" style="margin:auto;">
		        <div class="carousel-caption">
		          <h2>SUMHANG</h2>
		          <p>{{slide.text}}</p>
		        </div>
		      </slide>
		    </carousel>
	  </div>
	 
  
     

      <div class="button">
         <button class="btn   btn-xs-5" id="button-Log" data-ng-click="loginCheck()"><label>Log in today</label></button> 
        <a class="btn    btn-xs-5  " id="button-sign" href="#/joinMember"><label>Sign up today</label></a>
      </div>     

      <div class="footer">
        <p>@sum행 Company 2014</p>
      </div>

    </div>  
</div>	  

	 

 



 