 




<div class="intro view">
  
  	 
  
   <div class="container">
       <div class="intro-main">
        
       	 <img src="resources/images/1213.jpg" class="intro-img">
        <p class="intro-title1">어느날 나에게 찾아온</p>	
         <p class="intro-title">SUMHANG</p>	
       	 
       	 
       	 
       </div>
	 
  
     <Br/>

      <div class="button">
         <button class="btn   btn-xs-5" id="button-Log" data-ng-click="loginCheck()"><label>Log in today</label></button> 
        <a class="btn    btn-xs-5  " id="button-sign" href="#/joinMember"><label>Sign up today</label></a>
      </div>     

      <div class="footer">
        <p>@sum행 Company 2014</p>
      </div>

    </div>  
</div>	  

	 

 



 