 




<div class="intro view">
  
  	 
  
   <div class="container">
       <div class="intro-main">
       
       
		<carousel interval="myInterval">
      		<slide ng-repeat="slide in slides" active="slide.active">
        		<img data-ng-src="{{slide.image}}" style="margin:auto;">
        		<div class="carousel-caption">
          		<h4>Slide {{$index}}</h4>
         		 <p>{{slide.text}}</p>
        		</div>
      		</slide>
   		</carousel>
   
  
     <Br/>

      <div class="button">
         <button class="btn   btn-xs-5" id="button-Log" data-ng-click="loginCheck()"><label>Log in today</label></button> 
        <a class="btn    btn-xs-5  " id="button-sign" href="#/joinMember"><label>Sign up today</label></a>
      </div>
      <span class="spinner" data-us-spinner="{lines: 9,
													  length: 11,
													  width: 3,
													  radius: 10,
													  corners: 1,
													  rotate: 0,
													  direction: 1,
													  color: '#ffffff',
													  speed: 1,
													  trail: 60,
													  shadow: false,
													  hwaccel: false,
													  className: 'spinner',
													  zIndex: 2e9,
													  top: '50%',
													  left: '50%'}" data-spinner-key="spinner-1"></span>

      <div class="footer">
        <p>@sum행 Company 2014</p>
      </div>

    </div>  
</div>	  

	 

 



 