
<div class="invitePush view">
	<div class="header-tripDetail"> SUMHANG </div>
 </br></br>
  	  <div class="row" id="inviteTitle">
  	  	<div class="col-xs-9">
 			<span>썸행  추천 유저</span>
 		</div>
 		<div class="col-xs-3">
 			<img id="inviteUserRefresh" data-ng-src="resources/images/icons/refresh-64.png"
 				 data-ng-click="inviteUserRefresh()">
 		</div>	 
 	  </div>	
	
	  <div id="inviteUserList" >
	  	<ul  style="list-style-type:none;" >
	  		<li  data-ng-repeat="inviteTrip in inviteTrips" >
					<div id="inviteListView" class="row">
						<div class="col-xs-3" id="inviteUserPhotoWrapper">
							<div id="borderImage">
								<img id="imageBorder" data-ng-src="resources/images/icons/imageBorder.png">	  			 	
		  			 		</div>
		  			 		<div id="inlineUserImage">
		  			 			<img id="inviteUserPhoto" data-ng-src="{{serverAddress}}resources/images/userPhotoFile/{{inviteTrip.USER_SPHOTO}}" />
	  						</div>
	  					</div>
	  				<!-- 	<div clss="col-xs-3">
	  						{{inviteTrip.GENDER}}
	  					</div> -->
	  					<div id="inviteUserNick" class="col-xs-4">
		  					{{inviteTrip.nick}}  
		  				</div>
		  				<div class="colxs-4">
		  					<img id="inviteUserIcon" data-ng-src="resources/images/icons/add-user-64.png" data-ng-click="goInviteUser(inviteTrip.USER_NO,inviteTrip.nick)">
		  			 	</div>
	  				</div>
	  			  	
	  		  </li>
	  	 
	  	</ul>
	 </div>

</div>