<div class="header-tripDetail"> SUMHANG </div>
<br/>
<br/>
</br>
<div class="invite view">
	  <div>
	  	<ul class="invite-ul">
	  		<li  data-ng-repeat="inviteTrip in inviteTrips" >
	  			 	<img data-ng-src="{{serverAddress}}resources/images/man.png"  id="listviewTripManagerUserPhoto"/>
  					<span>{{inviteTrip.GENDER}}</span>
	  				<span>{{inviteTrip.nick}}  </span>
	  				<span >
						<button class="btn  btn-xs btn-warning" data-ng-click="inviteUser(inviteTrip.USER_NO)" id="inviteBtn">
							<span class="glyphicon glyphicon-plus-sign" id="tripManagerInviteBtn"></span>
						</button>		
					</span>
	  			  	
	  		  </li>
	  	 
	  	</ul>
	  
	  
	  
	  </div>
</div>