<div class="login view">
    <div class="container">

      <form data-ng-submit="loginRequest()" class="form-signin" data-ng-model="loginInfo">
      
      	<section class="js-section">	    
            <div class="banner js-example-1" data-crossfade-start="resources/image/01.jpg" data-crossfade-end="resources/image/01-blur.jpg">
            	<h1 class="js-parallax">SUM행</h1>
            </div>         
        </section>
        
        <input type="text" class="form-control" placeholder="Email address" autofocus data-ng-model="loginInfo.id">
        <input type="password" class="form-control" placeholder="Password" data-ng-model="loginInfo.password">
        <label class="checkbox">
        	<input type="checkbox" value="remember-me"> Remember me</label>
        	
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
         
      </form>

    </div> <!-- /container -->
</div><!-- login view -->
<!-- 
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-10512170-10', 'mikefowler.me');
	ga('send', 'pageview');

</script>
 -->
