 
 <div class="login view">
     <div class="container login">

      <form name="loginForm" data-ng-submit="loginRequest()" class="form-signin" data-ng-model="loginInfo" novalidate>
   		 
   		<div class="titleLogo">
   			 <br/>
   			<img src="resources/images/logo-2.png" class="titleLogo">
   			<br/>
   		</div>
       
    
      
        <div id="box" class="clearfix">
        	 <br/>
          	<div  data-ng-class="{ 'has-error' : loginForm.username.$invalid && submitted}">
            <p id="text">
          
            <label id="formgroup" class="control-label">  UserID
            </label>
            </p>
                      
           
                <input id="idInput" class="form-control" type="text"  name="username" placeholder="UserID"  data-ng-model="loginInfo.id" required></input>
             
            </div>
            
            
         	<br/>
            
            
            <div     data-ng-class="{ 'has-error' : loginForm.password.$invalid && submitted}">
            <p id="text3">
           
            <label id="formgroup1" class="control-label">  Password
            </label>
            </p> 
          		 
                <input id="PasswordInput"  class="form-control" type="password" name="password"   placeholder="Password" data-ng-model="loginInfo.password" required></input>
 
            </div>
         
          <br/>
          
            
            
            	
            	
 
            <div class="Log"> 
              <button id="LogIn"  class="btn" type="submit"><p id="Log">Log In</p></button>
			  <span class="btn"> <a id="SignIn"   href="#/joinMember">Sign Up</a></span>   
			 <br/>
			  <span class="spinner" data-us-spinner="{lines: 9,
													  length: 11,
													  width: 3,
													  radius: 10,
													  corners: 1,
													  rotate: 0,
													  direction: 1,
													  color: '#ffbb33',
													  speed: 1,
													  trail: 60,
													  shadow: false,
													  hwaccel: false,
													  className: 'spinner',
													  zIndex: 2e9,
													  top: '50%',
													  left: '50%'}" data-spinner-key="spinner-1"></span>
			 </div>
			 
			 <p class="titleImage">
		 
			 </p>
 			 
 				
      </div>
          <img src="resources/images/16.jpg" class="titleImg">
      </form>
      </div>
 </div>

<!--  <script>
      // 사용할 앱의 Javascript 키를 설정해 주세요.
    
    </script>
   -->