<!-- 전체 페이지 -->
<div id="mainPage">
	<div class="container-mainPage">

		<!-- 입력페이지 전체 -->
		<div id="header">

			<!-- 헤더 -->
			<div id="imageWrapper">

				<!-- 왼쪽패널 -->
				<img id="leftSideIcon"
					src="{{serverAddress}}resources/images/leftSide.png"
					data-pageslide="left" href="#leftPanel" data-ps-speed="0.5"
					data-ps-auto-close="true">

				<!-- 제목 -->
				<span id="mainPageTitle">SUM행</span>

				<!-- 오른쪽패널 -->
				<img id="rightSideIcon"
					src="{{serverAddress}}resources/images/rightSide.png"
					data-pageslide="right" data-ps-speed="0.5" href="#rightPanel"
					data-ps-auto-close="true" data-ng-click="getTripUsers()">
			</div>
			<!-- 헤더닫기 -->
		</div>

		<!-- 리스트뷰 -->
		<div id="listviewMainPage">

			<!-- 서치바 -->
			<div data-infinite-scroll="loadMore()">
			<ul data-theme="none" data-role="listview" data-inset="true"
				data-filter="true" data-filter-placeholder="검색" id="mainSearchBar">

				<!-- 리스트 -->
				<li class="listMainPage" data-ng-repeat="trip in trips"
					data-repeat-done="" data-ng-click="goTripDetail(trip.TBOARD_NO)"
					id="eachListview">
					<!-- 여행사진 -->
					<div id="tripPictures">
						<img
							data-ng-src="{{serverAddress}}resources/images/tripPhotoFile/{{trip.TRAVEL_SPHOTO}}"
							class="imgMain visible" id="tripPcture">
					</div> <!-- 여행지 -->
					<div id="tripDestinationTag">
						<h1 class="visible">
							<a data-ng-href="#/tripDetail/{{trip.TBOARD_NO}}"
								id="tripDestination">{{trip.TRAVEL}}</a>
						</h1>
					</div> <!-- 여행제목 -->
					<div id="tripTitleTag">
						<p class="travelPhrase visible" id="tripTitle">{{trip.TITLE}}</p>
					</div> <!-- 여행기간 -->
					<div id="tripPeriodTag">
						<p class="travelPeriod visible" id="tripPeriod">{{trip.TRAVEL_START}}~{{trip.TRAVEL_END}}</p>
					</div> <!-- 참가자사진 -->
					<div class="iconsBack">
						<div class="icons" id="mainIcons">
							<img src="{{serverAddress}}resources/images/userPhotoFile/{{trip.juser0.USER_SPHOTO}}" class="faceThumb_3 visible"
								id="face1"> <img
								src="{{serverAddress}}resources/images/userPhotoFile/{{trip.juser1.USER_SPHOTO}}"
								class="faceThumb_4 visible" id="face2"> <img
								src="{{serverAddress}}resources/images/userPhotoFile/{{trip.juser2.USER_SPHOTO}}"
								class="faceThumb_5 visible" id="face3">


							<!-- 아이콘들 -->
							<span id="participants"> <img
								data-ng-src="{{serverAddress}}resources/images/wishMember.png"
								class="groupImg visible" /> <!-- 모집인원아이콘 --> <span
								class="groupCount visible" id="mainTripMember">{{trip.TRAVEL_USER_COUNT}}</span>
								<!-- 모집인원 --> <img
								data-ng-src="{{serverAddress}}resources/images/heart.png"
								class="favoImg visible" /> <!-- 좋아요 아이콘 --> <span
								class="favoriteCount visible" id="mainLikeNum">{{trip.likenum}}</span>
								<!-- 좋아요 카운트 -->
							</span>
						</div>
					</div>
				</li>
				
		<!-- 쓰기 아이콘 -->
				<div id="writeTimeline">
					<img src="{{serverAddress}}resources/images/yellow-document-plus-icon.png" id="writeTrip" data-ng-click="goAddTrip()">
				</div>			
			</ul>
			</div>
		</div>
	</div>



	<!-- 오른쪽패널	 -->
	<div id="rightPanel">
		<!-- 패널 닫기 아이콘 -->
		<img src="{{serverAddress}}resources/images/x-mark-4-24.png"
			id="rightPanel-close" href="#"> <br />
		<!-- 방장 사진, 아이디 -->
		<div id="hostUser">
			<img src="{{serverAddress}}resources/images/host.png" class="userIcon" data-ng-show="userTripSelected.STATUS==1">
			<img src="{{serverAddress}}resources/images/guest.png" class="userIcon" data-ng-hide="userTripSelected.STATUS==1">
			<p id="hostUserName">{{sessionUser.nick}}</p>
		</div>

		<!-- 참여 중인 방 표시 -->
		<!-- 참여중인 여행 목록 -->
		<div id="attandingView">
			<select class="" id="attandingTrips"
				data-ng-model="userTripSelected"
				data-ng-options="userTrip.TITLE for userTrip in userTrips"
				data-ng-change="getTripUsers()">

			</select>

			<!-- 모임 게시판 가기 -->
			<span class="groupBoard"> <img
				src="{{serverAddress}}resources/images/groupBoard.png"
				id="groupMeeting"
				data-ng-click="goTimeLine(userTripSelected.TBOARD_NO)">
			</span>
		</div>

		<!-- 여행일정 -->
		<div class="tripPeriod">
			<p>{{userTripSelected.TRAVEL_START}}~{{userTripSelected.TRAVEL_END}}</p>
		</div>

		<ul>
			<li class="tripUser" data-ng-repeat="tripUser in tripUsers"><span class="placeHolder" data-ng-class="{man:tripUser.GENDER=='man',woman:tripUser.GENDER=='woman'}">{{tripUser.NICK}}</span>
				<span class="placeHolder1"><img class="removeUser" src="{{serverAddress}}resources/images/removeUser.png"
					data-ng-click="kickOutTripUser(tripUser.USER_NO)"
					data-ng-hide="hideDelMenu(tripUser)"></span>
			</li>
		</ul>


		<!-- 강퇴&초대 버튼 -->
		<div class="tripActionBtn">			
			<button class="btn btn-xs btn-warning" type="submit" id="inviteBtn" data-ng-click="goInvite()">초대</button>
		</div>

		<!--  디데이 -->
		<div id="dDay" data-ng-model="dDay">
			<img src="{{serverAddress}}resources/images/d-day.png" id="dDayAlert"
				href="#">
			<div data-ng-model="dDayPassed">
				<p id="dDayCal" data-ng-show="dDayPassed">여행까지 {{dDay}}일 남았습니다</p>
				<p data-ng-hide="dDayPassed">이미 지난 여행입니다</p>
			</div>
		</div>

	</div>
	<!-- 셋팅 닫기 아이콘  -->
	<div id="leftPanel">
		<img src="{{serverAddress}}resources/images/x-mark-4-24.png"
			id="leftPanel-close" href="#"> <br />

		<!-- settings icons -->
		<div class=systemSettings1>
			<img src="{{serverAddress}}resources/images/reviewer-48.png"
				data-ng-click="goModifyMember()" id="userInfo"><br />
			<!-- userInfo -->
			<img src="{{serverAddress}}resources/images/handshake.png"
				data-ng-click="inviteRequest()" id="acceptance"><br />
			<!-- acceptance -->
			<img src="{{serverAddress}}resources/images/info.png"
				data-ng-click="goVersionInfo()" id="sysinfo"><br />
			<!-- info -->
			<img src="{{serverAddress}}resources/images/settings.png"
				data-ng-click="goSettings()" id="settings"><br />
			<!-- settings -->
		</div>

		<div class=systemSettings2>
			<button class="btn btn-warning" data-ng-click="logout()"
				id="logoutBtn">Logout</button>
		</div>
		<!-- logout End -->
	</div>
	<!-- systemSettings2 End -->
</div>
<!--좌측 패널아이콘 끝-->
