<div class="modifyMemberView">
	<div class="container-modifyMemberView">

	<!-- 헤더-->
		<div class="header-modifyMember">
			<!-- 왼쪽패널 -->
					<img id="leftSideIcon" src="{{serverAddress}}resources/images/backspace-32.png" data-pageslide="left" href="#leftPanel" data-ps-speed="0.5"
							data-ps-auto-close="true">	
								
				<!-- 제목 -->		
					<span id="modifyMemberTitle">SUM행3</span> 
					
				<!-- 오른쪽패널 -->				
					<img src="{{serverAddress}}resources/images/save-32.png" data-ng-click="goMain()" id="modifyMemberSaveBtn" >
		</div>				<!-- header-modifyMember End -->
	
	<!-- 프로필  -->
		<div id="modifyMemberPhotoSpace">
			<img src="{{serverAddress}}resources/images/simpson.jpg" id="modifyMemberUserPhoto">	
					<label id="'userIdModifyLabel">
					ID
					</label><br/>		
					<p id="userIdModifyMember22">
					simpson
					</p>
		</div>				<!-- modifyMemberPhotoSpace End -->
		
	<!-- 프로필 수정 리스트 -->
			<form id="formModifyMemberSpace" name="modifyMemberForm" class="form-horizontal" novalidate>
				
			<!-- 이름-->
				<div class="form-group" id="userNameModify">
					<label for="userNameModify" class="col-xs-2  control-label" id="userNameModifyLabel">
						<img src="{{serverAddress}}resources/images/contacts-24.png" id="modifyMemberUserName">
					</label>
					<div class="col-xs" id="userNameModifyInputSpace">
						<input type="text" class="form-control" id="userNameModifyInput" name="userNameModifyInput"
						placeholder="이름" required>
					</div>		<!-- userNameModifyInputSpace End -->
				</div> 			<!-- form-group End -->
														
			<!-- 닉네임-->
				<div class="form-group" id="userNickNameModify">
					<label for="userNickNameModify" class="col-xs-2  control-label" id="userNickNameModifyLabel">
						<img src="{{serverAddress}}resources/images/star-4-24.png" id="modifyMemberUserNickName">
					</label>
					<div class="col-xs" id="userNickNameModifyInputSpace"">
						<input type="text" class="form-control" id="userNickNameModifyInput" name="userNickNameModifyInput" 
						placeholder="닉네임" required>
					</div>		<!-- useNickNameModifyInputSpace End -->
				</div> 			<!-- form-group End -->
								
			<!-- 비밀번호-->
				<div class="form-group" id="userPasswordModify">
					<label for="userPasswordModify" class="col-xs-2 control-label" id="userPasswordModifyLabel">
						<img src="{{serverAddress}}resources/images/private-24.png" id="modifyMemberUserPassword">
					</label>
					<div class="col-xs" id="userPasswordModifyInputSpace">
						<input type="password"" class="form-control" id="userPasswordModifyInput" name="userPasswordModifyInput" 
						placeholder="비밀번호" required>
					</div>		<!-- userPasswordModifyInputSpace End -->
				</div> 			<!-- form-group End -->
				
			<!-- 비밀번호확인-->
				<div class="form-group" id="userPasswordReModify">
					<label for="userPasswordReModify" class="col-xs-2  control-label" id="userPasswordReModifyLabel">
						<img src="{{serverAddress}}resources/images/private-24.png" id="modifyMemberUserRePassword">
					</label>
					<div class="col-xs" id="userPasswordReModifyInputSpace">
						<input type="password"" class="form-control" id="userPasswordReModifyInput" name="userPasswordModifyInput" 
						placeholder="비밀번호를 다시 입력 해주세요." required>
					</div>		<!-- userPasswordReModifyInputSpace End -->
				</div> 			<!-- form-group End -->
		
			<!-- 생년월일-->
				<div class="form-group" id="userBirthModify">
					<label for="userBirthModify" class="col-xs-2  control-label" id="userBirthModifyLabel">
						<img src="{{serverAddress}}resources/images/birthday-cake-24.png" id="modifyMemberUserBirth">
					</label>
					<div class="col-xs" id="userBirthModifyInputSpace"">
						<input type="text" class="form-control" id="userBirthModifyInput" name="userBirthModifyInput" 
						placeholder="생년월일" required>
					</div>		<!-- userBirthModifyInputSpace End -->
				</div> 			<!-- form-group End -->
				
				<!-- 성별-->
				<div class="form-group" id="userGenderModify">
					<label for="userGenderModify" class="col-xs-2  control-label" id="userGenderModifyLabel">
						<img src="{{serverAddress}}resources/images/male-2-24.png" id="modifyMemberUserGender">
					</label>
					<div class="col-xs" id="userGenderModifyInputSpace"">
						<input type="text" class="form-control" id="userGenderModifyInput" name="userGenderModifyInput" 
						placeholder="성별" required>
					</div>		<!-- userEmailGenderInputSpace End -->
				</div> 			<!-- form-group End -->
			
			<!-- 빈공간-->
				<div class="form-group" id="modifyMemberBottom">
				
				</div> 			<!-- form-group End -->

		</form>		<!-- 프로필 수정 리스트 End -->
			<!-- 셋팅 닫기 아이콘  -->
	<div id="leftPanel">
		<img src="{{serverAddress}}resources/images/x-mark-4-24.png"
			id="leftPanel-close" href="#"> <br />

		<!-- settings icons -->
		<div class=systemSettings1>
			<img src="{{serverAddress}}resources/images/reviewer-48.png"
				data-ng-click="goModifyMember()" id="userInfo"><br />
			<!-- userInfo -->
			<img src="{{serverAddress}}resources/images/handshake.png"
				data-ng-click="inviteRequest()" id="acceptance"><br />
			<!-- acceptance -->
			<img src="{{serverAddress}}resources/images/info.png"
				data-ng-click="goVersionInfo()" id="sysinfo"><br />
			<!-- info -->
			<img src="{{serverAddress}}resources/images/settings.png"
				data-ng-click="goSettings()" id="settings"><br />
			<!-- settings -->
		</div>

		<div class=systemSettings2>
			<button class="btn btn-warning" data-ng-click="logout()"
				id="logoutBtn">Logout</button>
		</div>
		<!-- logout End -->
	</div>
	<!-- systemSettings2 End -->
</div>
<!--좌측 패널아이콘 끝-->		
	</div>			<!-- modifyMemberView End -->
</div>			<!-- modifyMemberView End -->

