<div class="modifyMemberView">
	<div class="container-modifyMemberView">

	<!-- 헤더-->
		<div class="header-modifyMember">
			<!-- 왼쪽패널 -->
					<img id="leftSideIcon" src="{{serverAddress}}resources/images/leftSide.png" data-pageslide="left" href="#leftPanel" data-ps-speed="0.5"
							data-ps-auto-close="true">	
								
				<!-- 제목 -->		
					<span id="modifyMemberTitle">
						<a href="#/main"><img src='resources/images/Header-Logo.png' class="Header-Logo"> </a>
					</span> 
								
		</div>				<!-- header-modifyMember End -->
	
	
		
	<!-- 프로필 수정 리스트 -->
			<form data-ng-submit="modifyUserInfo()" id="formModifyMemberSpace" name="modifyMemberForm" class="form-horizontal" data-ng-model="userInfo" novalidate>
			
			<!-- 프로필  -->
			<div id="modifyPhoto">
				<div id="modifyMemberPhotoSpace">
			<!-- 사진 나오는 곳 -->		
					<img src="{{serverAddress}}resources/images/{{userInfo.sPhoto}}" id="modifyMemberUserPhoto" data-ng-click="goModifyUserPhoto()">	
							<label id="'userIdModifyLabel">
							ID
							</label><br/>		
							<p id="userIdModifyMember22">
							{{userInfo.id}}
							</p>
			<!-- 사진 찍기 -->				
					<img class="cameraImg" data-ng-click="capturePhoto()"
					data-ng-src="{{serverAddress}}resources/images/compact-camera-org-32.png" id="modifyTakeAPicture">
			<!-- 갤러리 -->
					<img class="galleryImgModify" data-ng-click="galleryPhoto()"
					data-ng-src="{{serverAddress}}resources/images/gallery-32-org.png">
				</div>			<!-- modifyMemberPhotoSpace End -->
			</div>			<!-- modifyPhoto End -->
				
				
			
			<!-- 이름-->
				<div class="form-group" id="userNameModify">
					<label for="userNameModify" class="col-xs-2  control-label" id="userNameModifyLabel">
						<img src="{{serverAddress}}resources/images/contacts-24.png" id="modifyMemberUserName">
					</label>
					<div class="col-xs" id="userNameModifyInputSpace">
						{{userInfo.name}}
					</div>		<!-- userNameModifyInputSpace End -->
				</div> 			<!-- form-group End -->
														
			<!-- 닉네임-->
				<div class="form-group" id="userNickNameModify" data-ng-class="{ 'has-error' : modifyMemberForm.userNickNameModifyInput.$invalid && submitted || modifiedUserInfo.nickDuplicate}">
					<label for="userNickNameModify" class="col-xs-2  control-label" id="userNickNameModifyLabel">
						<img src="{{serverAddress}}resources/images/star-4-24.png" id="modifyMemberUserNickName">
					</label>
					<div class="col-xs" id="userNickNameModifyInputSpace">
						<input type="text" class="form-control" id="userNickNameModifyInput" name="userNickNameModifyInput" data-ng-blur="nickDuplicateChecking(modifiedUserInfo.nick)"
						data-ng-init="modifiedUserInfo.nick=userInfo.nick" value="{{userInfo.nick}}" data-ng-model="modifiedUserInfo.nick" required>
						<span class="label label-info" data-ng-show="modifiedUserInfo.nickDuplicate">닉네임 중복입니다</span>
					</div>		<!-- useNickNameModifyInputSpace End -->
				</div> 			<!-- form-group End -->
			<!-- 비밀번호-->
				<div class="form-group" id="userPasswordModify" data-ng-class="{ 'has-error' : modifyMemberForm.userPasswordModifyInput.$invalid && submitted}">
					<label for="userPasswordModify" class="col-xs-2 control-label" id="userPasswordModifyLabel">
						<img src="{{serverAddress}}resources/images/private-24.png" id="modifyMemberUserPassword">
					</label>
					<div class="col-xs" id="userPasswordModifyInputSpace">
						<input type="password" class="form-control" id="userPasswordModifyInput" name="userPasswordModifyInput" 
						placeholder="비밀번호" data-ng-model="modifiedUserInfo.password" required>
					</div>		<!-- userPasswordModifyInputSpace End -->
				</div> 			<!-- form-group End -->
				
			<!-- 비밀번호확인-->
				<div class="form-group" id="userPasswordReModify" data-ng-class="{ 'has-error' : modifyMemberForm.userPasswordModifyInput.$invalid && submitted}">
					<label for="userPasswordReModify" class="col-xs-2  control-label" id="userPasswordReModifyLabel">
						<img src="{{serverAddress}}resources/images/private-24.png" id="modifyMemberUserRePassword">
					</label>
					<div class="col-xs" id="userPasswordReModifyInputSpace">
						<input type="password" class="form-control" id="userPasswordReModifyInput" name="userPasswordModifyInput" 
						placeholder="비밀번호를 다시 입력 해주세요." data-ng-model="modifiedUserInfo.passwordConfirm" data-pw-check="userPasswordModifyInput" required>
					</div>		<!-- userPasswordReModifyInputSpace End -->
					<span class="help-error"
							data-ng-show="modifyMemberForm.userPasswordReModifyInput.$error.pwcheck">Passwords
							don't match.</span>
				</div> 			<!-- form-group End -->
		
			<!-- 생년월일-->
				<div class="form-group" id="userBirthModify">
					<label for="userBirthModify" class="col-xs-2  control-label" id="userBirthModifyLabel">
						<img src="{{serverAddress}}resources/images/birthday-cake-24.png" id="modifyMemberUserBirth">
					</label>
					<div class="col-xs" id="userBirthModifyInputSpace">
						<input type="text" class="form-control" id="userBirthModifyInput" name="userBirthModifyInput" 
						value="{{userInfo.birth}}" data-ng-model="modifiedUserInfo.birth">
					</div>		<!-- userBirthModifyInputSpace End -->
				</div> 			<!-- form-group End -->
				
				<!-- 성별-->
				<div class="form-group" id="userGenderModify">
					<label for="userGenderModify" class="col-xs-2  control-label" id="userGenderModifyLabel">
						<img src="{{serverAddress}}resources/images/male-2-24.png" id="modifyMemberUserGender">
					</label>
					<div class="col-xs" id="userGenderModifyInputSpace">
						{{userInfo.gender}}
					</div>		<!-- userEmailGenderInputSpace End -->
				</div> 			<!-- form-group End -->
				<button type="submit" class="btn btn-warning btn-block" id="modifyMemberBtn">수정하기</button>
			<!-- 빈공간-->
				<div class="form-group" id="modifyMemberBottom">
				
				</div> 			<!-- form-group End -->

		</form>		<!-- 프로필 수정 리스트 End -->
	
	</div>			<!-- modifyMemberView End -->
</div>			<!-- modifyMemberView End -->

<!-- 왼쪽패널 -->
			<!-- 셋팅 닫기 아이콘  -->
			<div id="leftPanel">
				<img src="{{serverAddress}}resources/images/x-mark-4-24.png" id="leftPanel-close" href="#"> <br />
		
				<!-- settings icons -->
				<div class=systemSettings1>
					<img src="{{serverAddress}}resources/images/reviewer-48.png"  data-ng-click="goModifyMember()" id="userInfo"><br/>
					<!-- userInfo -->
					<img src="{{serverAddress}}resources/images/handshake.png"  data-ng-click="inviteRequest()" id="acceptance" ><br/>
					<!-- acceptance -->
					<img src="{{serverAddress}}resources/images/info.png"  data-ng-click="goVersionInfo()" id="sysinfo"><br/>
					<!-- info -->
					<img src="{{serverAddress}}resources/images/settings.png"  data-ng-click="goSettings()" id="settings"><br/>
					<!-- settings -->
				</div>
		
				<div class=systemSettings2>
					<button class="btn btn-warning" data-ng-click="logout()"id="logoutBtn">
						Logout
					</button>		
				</div>	<!-- logout End -->
			</div> <!-- systemSettings2 End -->
			</div>	<!--좌측 패널아이콘 끝-->

