<!-- 전체 페이지 -->
<div id="timeLinePage">
	<div class="container-timeLinePage">

	<!-- 입력페이지 전체 -->
	<div id="headerTimeLine" data-ng-model="timeLine">
	
	<!-- 헤더 -->
		<div id="imageWrapperTimeLine">
		
		<!-- 왼쪽패널 -->
			<img id="leftSideIcon" src="{{serverAddress}}resources/images/leftSide.png" data-pageslide="left" href="#leftPanel" data-ps-speed="0.5"
					data-ps-auto-close="true">	
						
		<!-- 제목 -->		
			<span id="timeLineTitle">SUM행</span> 
			
		<!-- 오른쪽패널 -->				
			<span id="rightSideIcon">
				<img src="{{serverAddress}}resources/images/home.png" data-ng-click="goMain()" id="rightSideIcon" >
			</span>
		</div> <!-- imageWrapperTimeLine End -->
		
	</div>	<!-- headerTimeLine End -->

	<!-- 리스트타임라인 방 정보 -->
		<div id="listViewTimeLinePage">
				
		<!-- 여행 정보 -->			
			<div id="timeLineInfo">	
					<div class="row" id="timeLineListDestination" data-ng-model="tripDetail">
			
				<!-- 여행사진 -->			
						<div id="tripPictures">
							<img data-ng-src="{{serverAddress}}resources/images/beach_girl.png" class="imgMain visible" id="tripPcture">
						</div>
						
				<!-- 여행지 -->
						<div id="tripDestinationTag">
							<h1 class="visible" id="timeLineDestinationTag">
							{{tripDetail.travel}}
							</h1>
						</div>	
										
				<!-- 여행제목 -->
						<div id="tripTitleTag">
							<p class="travelPhrase visible" id="tripTitle">{{tripDetail.title}}</p>
						</div>
						
				<!-- 여행기간 -->
						<div id="tripPeriodTag">
							<p class="travelPeriod visible" id="tripPeriod">{{tripDetail.travel_start}}~{{tripDetail.travel_end}}</p>
						</div>	
			
			<!-- 참여인원 -->
						<div id="timeLineMembers">
								<img src="{{serverAddress}}resources/images/conference-24.png" class="imgMain visible" id="tripPcture"/>
									<span id="tripJoinMembers"> {{tripDetail.JOINCOUNT}} 명 참여중</span>
						</div>
					</div> <!-- row End -->
			</div><!--  timeLineInfo End -->
			
		<!-- 사용자 업데이트 타임라인 리스트 -->
		<div class="timeLineReplyList" data-ng-show="timeLineReplyList">	
			<ul data-theme="none" data-role="listview" id="listViewTimeLine">				
				<li class="replylist-timeline" data-ng-repeat="timeline in timelines">
					<div class="row">					
			<!-- 타임라인 유저사진 -->
							<div class="timeLineUserInfo">
								<img data-ng-src="{{serverAddress}}resources/images/userPhotoFile/{{timeline.USER_SPHOTO}}" 
								  id="timeLineUserPhoto"/>
			<!-- 타임라인 유저 아이디 -->
								<span id="timeLineUserID">{{timeline.NICK}}</span>
								<!-- 타임라인 사진 -->
								<img data-ng-src="{{serverAddress}}resources/images/timeLinePhotoFile/{{timeline.TIMELINE_SPHOTO}}"  
								id="timeLinePhoto"/>
							</div><br/><br/>						
			<!-- 타임라인 내용 -->	
						<div class="col-xs-12" id="timeLineText">
							{{timeline.TIMELINE_DESCRIPTION}}
						</div>
						<!-- <img data-ng-src="{{serverAddress}}resources/images/timeLinePhotoFile/{{timeline.TIMELINE_SPHOTO}}<br/> -->
						
						좋아요:{{timeline.TIMELINE_LIKE}}
			<!-- 타임라인 버튼 들 -->
						<div id="timeLineBtns">
							<button type="button" class="btn btn-warning btn-xs" data-ng-click="" 
							id="timeLineLikeBtn"> 좋아요 {{timeline.TIMELINE_LIKE}}</button>					
							<button type="button" class="btn btn-warning btn-xs"  id="timeLineBtnReply" 
							data-ng-click="goWriteReply(timeline.TIMELINE_NO)">댓글</button>				
						</div>			<!-- timeLineBtns End -->
					</div>	<!-- row End -->
				</li>
			</ul>
		</div>
			<!-- 타임라인 작성란 -->
				<div class="col-xs"  id="writeTimelineText" data-ng-show="writeTimeLine">
					<form id="writeTimeLineForm" name="writeTimeLineForm" data-ng-submit="addTimeLineRequest()"
					  class=form-horizontal" data-ng-model="timeLine" novalidate>
					  	<div class="form-group" data-ng-class="{ 'has-error' : writeTimeLineForm.timelineContextText.$invalid && submitted}">
								<textarea class="form-control" rows="7" id="timelineContextText" name="timelineContextText"
									  placeholder="멤버들에게 전할 소식을 남기세요." data-ng-model="timeLine.timeLineDesc"></textarea>		
						</div>	
						<!-- 타임라인 하단 버튼들 -->
							<div class="timeLineActionBtns">
							<!-- 사진 찍기 -->				
								<img src="cameraImgTimeline"  data-ng-src="{{serverAddress}}resources/images/compact-camera-org-32.png"
								    data-ng-click="timeLineCapturePhoto() id="takeAPhotoTimeline">
							<!-- 갤러리 -->
								<img src="galleryImgTimeline" data-ng-click="timeLineGalleryPhoto()"
								data-ng-src="{{serverAddress}}resources/images/gallery-32-org.png"  id="galleryPhoTimeline">
							<!-- 입력 -->
								<button type="submmit" class="btn btn-warning" id="updateTimelineBtn" data-ng-click>
								입력</button>		
							</div>		<!-- timeLineActionBtns End		 -->	
							<!-- <div class="timeLineActionBtns">
							</div> -->
						<!-- 사진 나오는 곳 -->
						<p id="showingTimelinePhoto">사진</p>
							<div class="timeLineActionBtns2">
								<div id="showTimelinePho">
									<img style="height: 200px;" src="" id="documentTimeLine">	
								</div>
							</div>
								
			</div>				<!-- writeTimelineText End -->
		
				
					
		
	
							
<!-- 쓰기 아이콘 -->
				 <div id="writeTimelineList">
					<img src="{{serverAddress}}resources/images/yellow-document-plus-icon.png"  id="writeTimeLine" 
					data-ng-click="goAddTimeLine()">
				</div>			 

		</div>	<!-- listViewTimeLinePage End -->
			
<!-- 왼쪽패널 -->
	<!-- 셋팅 닫기 아이콘  -->
	<div id="leftPanel">
		<img src="{{serverAddress}}resources/images/x-mark-4-24.png" id="leftPanel-close" href="#"> <br /> 

		<!-- settings icons -->
		<div class=systemSettings1>
			<img src="{{serverAddress}}resources/images/reviewer-48.png"  data-ng-click="goModifyMember()" id="userInfo"><br/>
			<!-- userInfo -->
			<img src="{{serverAddress}}resources/images/handshake.png"  data-ng-click="inviteRequest()" id="acceptance" ><br/>
			<!-- acceptance -->
			<img src="{{serverAddress}}resources/images/info.png"  data-ng-click="goVersionInfo()" id="sysinfo"><br/>
			<!-- info -->
			<img src="{{serverAddress}}resources/images/settings.png"  data-ng-click="goSettings()" id="settings"><br/>
			<!-- settings -->
		</div>

		<div class=systemSettings2>
			<button class="btn btn-warning" data-ng-click="logout()"id="logoutBtn">
				Logout
			</button>		
		</div>	<!--systemSettings2 End -->
	</div> <!-- leftPanel End -->
	
	</div>	<!--container-timeLinePage End-->
</div>		