<div class="timelineReplyModalView">
	
	<div class="row inputReply"  id="timelineReplyGroup">
			<div class="timelineReplyInputSpace">
				<input type="text" class="textbox" placeholder="댓글을 입력하세요"
					timelineReplyInputBox">
			</div>
		
<!-- timelineReplyModalBtnGroup -->
			<div class="timelineReplyModalBtnGroup">
			  <button type="button" class="btn btn-default"  id="timelineReplyCancelBtn"
			          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
			  <button class="btn btn-success"   id="timelineReplyInputBtn"
			          data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
			</div>			
	</div>			<!-- timelineReplyModalBtnGroup End -->
	
</div>			<!-- tripDetailDeleteModalView End -->