
<div class="header-tripDetail"> SUMHANG </div>


	<div class="tripDetail view">
		
		
	<!-- 메인 상세 페이지 리스트 -->		
		<div class="mainTripDetail" data-ng-show="mainTripDetail">
			<div class="row row0">
				<img class="mainImg"
					data-ng-src="{{serverAddress}}resources/images/tripPhotoFile/{{trip.TRAVEL_PHO}}">
			</div>
	
			<div class="row row1">
				<div class="col-xs-7 travel">
					여 행 지 :{{trip.travel}}
					<p>{{trip.title}}</p>
					<img class="cal" src="resources/images/cal.png"> <span>
						{{trip.travel_start}}~ {{trip.travel_end}} </span>
				</div>
				<div class="col-xs-5">
					<img class="userPho"
						data-ng-src="{{serverAddress}}resources/images/userPhotoFile/{{trip.user_sphoto}}">
					<p>
						<span class="username">{{trip.nick}}</span>
					</p>
				</div>
			</div>
	
			<div class="row desc">
				<div class="col-xs-12">{{trip.TRAVEL_DESCRIPTION}}</div>
			</div>
		</div>	
		
		<!-- 메인 상세 수정 페이지 -->	
		<div class="editDetailPage" data-ng-show="editPage">
		<form id="editTripForm" name="editTripForm" data-ng-submit="goEditTripRequest()" 
		      class="form-horizontal" data-ng-model="editTrip" novalidate>
	<!-- 여행제목-->
			<div class="form-group " data-ng-class="{ 'has-error' : editTripForm.tripTitleInput.$invalid && submitted}">
				<label for="tripTitle" class="col-xs-3 control-label" id="tripTitleLabel">여행제목</label>	
				<div class="col-xs-7" id="tripTitleText">
					<input type="text" class="form-control" id="tripTitleInput" name="tripTitleInput" data-ng-model="editTrip.title"
					value="" required>	
				</div>
			</div>
			
		<!--여행지-->
			<div class="form-group" data-ng-class="{ 'has-error' : editTripForm.tripDestinationInput.$invalid && submitted}">
				<label for="tripDestination" class="col-xs-3 control-label" id="destination">여행지</label>
				<div class="col-xs-6" id="tripDestinationText">
					<input type="text" class="form-control" id="tripDestinationInput" name="tripDestinationInput" value="{{trip.travel}}"  data-ng-model="editTrip.travel" required>
				</div>
			</div>
	
		<!-- 여행기간 -->
			<div class="form-group" data-ng-class="{ 'has-error' : (editTripForm.datepicker3.$invalid || editTripForm.datepicker4.$invalid ) && submitted}">
		<!-- 출발일 -->
				<label for="datepicker2" class="col-xs-3 control-label" id="tripperiodLabel">여행기간</label>
				<div class="col-xs-3" id="tripStartdate" name="sta">
					<input type="text" class="form-control" id="datepicker3" name="datepicker3" data-ng-model="editTrip.travelStart"
						value="{{trip.travel_start}}" required>
				</div>
		
		<!-- 도착일 -->
				<div class="col-xs-3" id="tripEnddate">
					<input type="text" class="form-control" id="datepicker4" name="datepicker4" data-ng-model="editTrip.travelEnd"
						value="{{trip.travel_end}}" required>
				</div>
			</div>
	
	
		<!-- 세부내용 -->
			<div class="form-group">
				<label for="tripContext" class="col-xs-3 control-label" id="tripContextLabel">세부내용</label>
				<div class="col-xs-7">
					<textarea class="form-control" rows="3" id="tripContextText" 
					         data-ng-value="trip.TRAVEL_DESCRIPTION" data-ng-model="editTrip.travelDescription" ></textarea>
				</div>
			</div>
	
	
		<!-- 사진 올리기 -->
			<div class="form-group photo">
				<label for="pho" class="col-xs-3 control-label">사 진 </label>
				<div class="col-xs-7">
					<input type="file" class="custom-file-input"  id="tripFileUpdate" data-file-model="tripfile" >
				</div>
			</div>
	
	<!-- 여행올리기 -->
			<div class="form-group">
				<div class="col-xs-offset-2">
					<button type="submit" class="btn btn-warning btn-xs btn-block"   id="updateTrip">여행 수정하기</button>
				</div>
			</div>
			
		</form>
	</div>
		
		
		
		<div class="row addBtn">
			<!-- 읽는사람용 버튼 -->
			<div class="readUserButton" data-ng-show="readUserButton">
				<button type="button" class="addTrip btn btn-warning" 
				data-ng-click="goEnterTrip(trip.PUSH)">참가신청</button>
			</div>
			<!-- 글작성한 사람용 버튼 -->
			<div class="writeUserButton" data-ng-show="writeUserButton">
				<button type="button" class="editTrip btn btn-warning"
						data-ng-click="goEditTripDetail()">수정</button>
				<button type="button" class="deleteTrip btn btn-warning" 
				        data-ng-click="goDeleteTripDetail()">삭제</button>
			</div>
		</div>
	
		<!-- 리플 시작 -->

		<ul>
			<li data-ng-repeat="reply in replys">
				<div class="row reply">
					<div class="col-xs-1 reUser">
						<img data-ng-src="{{serverAddress}}resources/images/userPhotoFile/{{reply.user_sphoto}}" />
					</div>
					<div class="col-xs-2 reNick">{{reply.nick}}</div>
					
					<div class="col-xs-4">{{reply.TBOARD_RE_DESCRIPTION}}</div>
					
					<div class="col-xs-1 delete" data-ng-show="{{reply.del}}">
						<img data-ng-click="goDelTripDetailRe(reply.TRAVEL_BOARD_REPLY_NO)"  
						src="{{serverAddress}}resources/images/icons/tripDetailDelete.png"/>					
					</div>
					<div class="col-xs-1 edit" data-ng-show="{{reply.del}}">
						<img data-ng-click="goEditTripDetailRe(reply.TRAVEL_BOARD_REPLY_NO)"  
						src="{{serverAddress}}resources/images/icons/tripDetailEdit.png"/>		
					</div>				
				</div>
			</li>
		</ul>
		
	</div>
	
<div class=wraper-footer-tripDetail>
		<div class="row inputReply" data-ng-show="inputRe">
			<div class="col-xs-7">
				<input type="text" class="textbox" placeholder="덧글을 입력하세요"
					data-ng-model="tripDetailReply">
			</div>
			<div class="col-xs-2">
				<button type="button" class="btn btn-warning replybtn"
					data-ng-click="goTripDetailReply()">댓글 입력</button>
			</div>
		</div>
		
		<div class="row inputReply" data-ng-show="editRe">
			<div class="col-xs-7">
				<input type="text" class="textbox" data-ng-model="tripDetailReEditDescription">
			</div>
			<div class="col-xs-3">
				<button type="button" class="btn btn-danger replybtn"
					data-ng-click="goTripDetailReplyEdit()">댓글 수정</button>
			</div>
		</div>
</div>


<!-- datepicker -->
	<script>
        $(function() {
            $( "#datepicker3" ).datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
        
        $(function() {
            $( "#datepicker4" ).datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
        
        $(function() {
        	
        });
    </script>

