
/* 페이지 전체 */
.addTrip {
	background-color: #f6f6f6;
	min-height: 800px;
}

/* //////////// 헤더 관련///////////////////////////////////////////////////////////////////////////////////////// */
/* 헤더 */
.addTrip .header-addTrip{
		height: 50px;
		background: #ffbb33;
		z-index:999;
		position:fixed;
		width: 100%;
		margin-top: -15px;

}

/* 헤더 제목 */
.addTrip .header-addTrip #addTripTitle{
		font-family: 'Nanum Gothic Coding', monospace;
		left: 40%;
		position: absolute;
		text-align:center;
		font-size: 30px;
		color: white;	
}

/* 저장하기 */
.addTrip #addTripSaveBtn{
	margin-top: 8px;
	position: absolute;
	left: 90%;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////// 사진 올리기 관련///////////////////////////////////////////////////////////////////////////////////////// */
/* 여행사진 라벨 */
.addTrip #addTripPhotoLabelSpace #addTripPhotoLabel{
	font-family:nanomgothic;
	color: #ffbb33;
	font-weight: bold;
	margin-left: 15px;

}

.addTrip #addTripPhotoLabelSpace{
		margin-top: 15px;
		margin-bottom: 15px;
	
}

/* 여행사진 올리기 */
 .addTrip #addTripPhotoSpace{
	width:100%;
	height: 200px;
	background: url('../images/TK.jpg');
	background-size: cover;
	opacity:0.8;
}

/* 여행사진 올리기 이미지 */
.addTrip #addTripPhotoSpace #addTripPhotoImg{
	text-align: center;
	height:200px;
}

/* 여행 사진 올리기 텍스트 */
/* .addTrip #addTripPhotoSpace #addTripPhotoText{
	font-family:nanomgothic;
	text-align: center;
}
 */
/* 사진을 올려주세요 */
/* .addTrip #addTripPhotoSpace #addTripPhotoText #addTripPhotoUpload{
	font-family:nanomgothic;
	color:orange;
	background-color: white;
}	 */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////// 리스트뷰 관련///////////////////////////////////////////////////////////////////////////////////////// */

/* 리스트뷰 라벨 */
.addTrip #addTripForm  #destination-addTrip, #tripTitleLabel, #scheduleAddTrip, #tripNumberLabel-addTrip, #addTripContextLabel, #addTripTagLabel, #scheduleAddTrip, #scheduleEndAddTrip{
	text-align: left;
	width: 70px;
	margin-left: 15px;
}

/* 도착일 입력 라벨 */
.addTrip #scheduleEndAddTrip{
margin-left: -5px;	
	}
	
/* 세부내용 라벨 위치 */
.addTrip #addTripContextLabel{
	margin-left: 15px;
	margin-top: 15px;
}

/* 리스트뷰 입력란  */
.addTrip #addTripForm #tripDestinationInput, #tripTitleInput, #tripNumberInput-addTrip, #tripTagInput{
	font-family:nanomgothic;
	width: 75%;
	border: none;
	margin-left: -30px;
	margin-right:0;
	height: 43px;
	vertical-align: middle;
}

/* 출발일 입력란 */
.addTrip #datepicker3{
	float: left;	
	font-family:nanomgothic;
	border: none;
	height: 43px;
	width: 35%;
	margin-left: -30px;
	border-right-color: #ffbb33;
	border-right-width: 1px;
	border-right-style: solid;
}

/* 도착일 입력란 */
.addTrip #datepicker4{
	font-family:nanomgothic;
	border: none;
	height: 43px;
	width: 32%;
	margin-left: -30px;

}


/* 리스트뷰 세부 내용 란 */
.addTrip #tripContextText{
	width: 75%;
	border: none;
	margin-left: -30px;
	margin-right:0;
	height: 70px;
	vertical-align: middle;
}

/* 리스트 뷰 입력 공간 */
.addTrip #destinationAddTripSpace, #tripTitleAddTripSpace, #tripTitleAddTripSpace, #countAddTrip, #contextAddTripSpace, #addTripTag, #tripScheduletEndSpace{
	border-bottom-color: #ffbb33;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-color: white;	
	margin-bottom: 0px;
}

/* 리스트뷰 첫 번째 */
.addTrip #destinationAddTripSpace{
	border-top-color: #ffbb33;
	border-top-width: 1px;
	border-top-style: solid;
	margin-top: 20px;
}

/* 모집인원 위치 */
.addTrip #countAddTrip{
	margin-top: -13px;
}

/* 세부내용 입력란 */
.addTrip #tripContextText{
	padding-top: 20px;
}

/* 여행 올리기 버튼 */
#updateAddTripBtn{
	font-family:nanomgothic;
	margin-top: 15px;
}

#updateTrip{
	padding: 5px;
}