/* 


.form-addTrip{
		margin: auto;
		background-color: #ccccff;

		-webkit-border-radius: 6;
   		  -moz-border-radius: 6;
          	border-radius: 6;
}

div.addTravle{
	
	background:white;
} */