

/* 회원가입 배경 */
.joinMember{
	background-color: #f6f6f6;
	min-height: 800px;
}

/* //////////// 헤더 관련///////////////////////////////////////////////////////////////////////////////////////// */

/* 헤더 */
.header-tripDetail{
	margin-top: -10px;
}

/* 헤더 왼쪽 아이콘 */
#joinLeftIcon{
	margin-left: 10px;
	float: left;
}

/* 헤더 제목 */
#joinPageHeader{
	font-family:nanomgothicBold;
	left: 33%;
	position: absolute;
	font-size: 30px;
	color: white;
	margin-top: -5px;
}

/* 헤더 오른쪽 */
/* #joinHeaderRight{
	position: absolute;
	left: 90%;
} */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* //////////// 프로필  사진 관련///////////////////////////////////////////////////////////////////////////////////////// */
/* 사진찍기 아이콘 */
#takeAPictureIMG{
	margin-top:65px;
	left: 75%;
	position: absolute;
	width: 32px;
	height: 32px;
}

/* 업데이트 사진 */
#cameraAfterImg{
	width: 100px;
	height: 100px;	
	margin-top: 55px;
	margin-left:15px;
	margin-bottom: 15px;
	background-image: url(../images/guest-64.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-color:  #ffbb33;
	position: absolute;
	left: 35%;
	border-radius:8px;
}

/* 갤러리 사진 */
 .galleryImg{
	margin-top:115px;	
	position: absolute;
	left: 75%;
	width: 32px;
	height: 32px;
} 
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* //////////// 프로필  입력 폼 관련///////////////////////////////////////////////////////////////////////////////////////// */

/* 폼 */
#formJoinMemberSpace{
margin-top: 10px;	
}

/* 폼 상단 줄 */
#userNameJoinInputSpace{
	border-top-color: #ffbb33;
	border-top-width: 1px;
	border-top-style: solid;
	margin-top: 170px;
}

/* 프로필 폼 라벨 */
#userIdJoinLabel, #userNickJoinLabel, #userPswdJoinLabel, #userPswdCheckLabel, #userPswdCheckLabel,
#userBirthJoinLabel, #userGenderJoinLabel, #userPushChoiceLabel, #userInviteChoiceLabel{
	text-align: left;
	width: 70px;
	margin-left: 10px;
}

/* 이름 라벨 */
#userNameJoinLabel{
	text-align: left;
	width: 70px;
	margin-left: 10px;
	margin-top: 170px;
}

/* 프로필 폼 입력란 */
#userNameJoinInput, #userIdJoinInput, #userNickJoinInput, #userPswdJoinInput, #userPswdCheckInput, #datepicker1 {
	font-family:nanomgothic;
	width: 75%;
	border: none;
	margin-left: -10px;
	margin-right:0;
	height: 43px;
	vertical-align: middle;
}

/* 프로필 폼 입력 공간 */
#userNameJoin, #userNameJoin, #userNickJoin, #userPswdJoin, #userPswdCheck, #userBirthJoin {
	border-bottom-color: #ffbb33;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-color: white;	
	margin-bottom: 0px;
}

/* 성별 라디오 버튼*/
#userGenderJoin{
	font-family:nanomgothic;
	height: 43px;
	border-bottom-color: #ffbb33;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	vertical-align: middle;
	color: #aaaaaa;
	background-color: white;
}

/* 푸쉬, 초대 수락 거절 */
#userPushChoice, #userInviteChoice{
	font-family:nanomgothic;
	margin-top: -15px;
	height: 43px;
	border-bottom-color: #ffbb33;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	vertical-align: middle;
	color: #aaaaaa;
	font-size: 14px;
	background-color: white;	
}

/* /////////////////////////////버튼/////////////////////////////////// */
/* 성별 버튼 스타일 */
#userGenderChoiceSpace input[type=radio]{
	width:18px; 
	height:18px; 	
	margin-left: 2px;
}

/* 푸쉬 버튼 스타일 */
#userPushChoiceSpace  input[type=radio]{
	width:18px; 
	height:18px; 
	margin-left: 2px;
}

/* 초대 버튼 스타일 */
#userInviteChoiceSpace input[type=radio]{
	width:18px; 
	height:18px; 
	background: red;
	margin-left: 2px;
}

/* 푸쉬 버튼 1위치 */
#userNickJoinInput1, #userPushChoiceInput1, #userInviteChoiceInput1{
	margin-left: -19px;
	margin-top: 12px;
}

/* 푸쉬 버튼 2위치*/
#userNickJoinInput2, #userPushChoiceInput2, #userInviteChoiceInput2{
	margin-left: 10px;
}

/* //////////////////////////////////////////////////////////////// */


/* /////////////////////////////중복 체크/////////////////////////////////// */

/* 아이디 */
#idDup, #idShort,#idLong {
		font-family:nanomgothic;
		margin-top:-37px;
		margin-right:20px;
		float: right;
		padding: 10px;
		font-size: 13px;
}

/* 비밀번호 */
#pswdShort, #pswdLong, #pswdCheck, #passwordCheck{
		font-family:nanomgothic;
		margin-top:-37px;
		margin-right:20px;
		float: right;
		padding: 10px;
		font-size: 13px;
}

/* //////////////////////////////////////////////////////////////// */

/* 입력 버튼 */
#registerbtn{
	font-family:nanomgothic;
}

#joinMemberBtn{

}