body{
	position:relative;
 	padding-top: 20px;
 	padding-bottom: 50px;
}

/* ������ */
.main:after {
	content:'';	
	position:absolute;
	top:0;
	left:0;
	
	width:1000px;
	height:800px;
	/*background-image: url("../images/TK.jpg");
	background-size: cover;*/
	opacity:0.5;
	
	
}
.main{	
	positon:relative;
	width: 80%;
	margin: auto;
} 

/* ���� */
h1{
	text-align: center;
	
}

/* ���� */
.form-horizontal{
	opacity:1;
	
}
/* .form-horizontal:after{
	opacity:0;
} */
.form-group .visible{
	opacity:1;
	z-index:10;
}


/* signin ��ư */
.form-group #signinbtn{
padding: 5px 5px;
font-size: 15px;
line-height: 1.33;
border-radius: 6px;
width:120%;
opacity:1;
z-index:10;

}

/* ���̵� ã�� ��ũ */
.form-group .find{
	margin-left: 14%;
}

.form-group #findid{
	/*margin-right: 30px;*/
}

/* social button */
.social{|
	padding-top: 10px;
	text-align: center;	
}

.social button{
	margin-right: 15px;
}
