div.login.view.ng-scope{
	 
	
	
}

div.titleLogo{
	margin-top:10%;
	margin-bottom:0;
	background-color:rgb(255, 187, 51);
	padding-bottom:30%;
	width:100%;	
	padding:0;
	text-align:center;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
 
.titleLogo{
	width:60%;
	margin-top:10%;
	margin-bottom:5%;
	
}
 div#box{
  
 	
 	padding-top:1.5%;
 	padding-bottom:1.5%;
 	padding-left:1.5%;
 	padding-right:1.5%;
 	background-color:rgb(255, 187, 51);
 	
   
   
 }
 
img.titleImg{
	
 	width:100%;
 	 
 	margin-bottom:10%;
 	 
 	 border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
 	
 
 }
 
 p#text  {
 	color:white;
 	font-weight:600;
 	float:left;
 	margin-left:2%;
 }
 label#formgroup{
 	width:80%;
 	margin-left:15%;
 }
 
 p#text3  {
 	color:white;
 	font-weight:600;
 	float:left;
 	margin-left:2%;
 	
 }
 
 label#formgroup1{
 	width:80%;
 	margin-left:15%;
 }
  label#formgroup2{
 	width:80%;
 	margin-left:15%;
 }
 
 div#formgroup2{
 
 	margin-top:2%;
 	margin-left:14%;
 	 
 }
 
 #idInput{
 	width:65%;
 	position:relative;
 	left:40px;
 }
 
 #PasswordInput{
 	width:65%;
 	position:relative;
 	left:13px;
 }
 
 input.input1{
 	
 	float:left;
  
 	 
 }
 #text5{
 	
    margin:0;
 	width:30%;
 	color:white;
 }
  
  
  
 div.Log{
 	text-align:center;
 	 
 }
 
 button#LogIn{
 	width:100px;
 	height:35px;
 	margin-right:5%;
 }
 
 p#Log{
 	font-weight:700;
 	
 
 }
 
 log.button.btn{
 	background-color:white;
 	width:100px;
 	height:35px;
 }
 
 
 a#SignIn{
 	color:black;
 	margin-top:2%;
 }
  span.btn{
 	background-color:white;
 	width:100px;
 	height:35px;
 }
  