/* div.ui-page.ui-page-theme-a.ui-page-active{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-image:url('../images/16.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
} */

 
div.primaryContainer.login {
    height: 1263px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: auto;
    background-image:url("../images/16.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
    z-index:100;
}  
 
  #formgroup {
    float: left;
    height: 61px;
    display: block;
    text-align: left;
    clear: none;
    width: 31.880163%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: fixed;
    top: 364px;
    left: 37.34208%;
    z-index: 5;
}

#textinput {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#text3 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0.2em 0em;
    display: block;
}

#formgroup2 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    clear: none;
    width: auto;
    min-height: auto;
    position: fixed;
    top: 473px;
    left: 37.364857%;
    right: 50.001518%;
    z-index: 5;
}

#input1 {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text6 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    padding: 0em 0.5em;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-family: arial;
}

#box1 {
    float: left;
    height: 293px;
    clear: none;
    width: 65.611334%;
    opacity: 0.61;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: fixed;
    top: 306px;
    left: 17.870809%;
    display: block;
    z-index: 0;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(180deg, white 0%, rgb(255, 255, 255) 100%);
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    -webkit-box-shadow: rgb(0, 0, 0) -9px 12px 3px 0px;
    box-shadow: rgb(0, 0, 0) -9px 12px 3px 0px;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#input {
    float: left;
    height: 42px;
    font-size: 1em;
    clear: none;
    width: 10.884354%;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
    font-weight: 700;
    font-family: arial;
    border-color: rgb(44, 71, 203);
    background-color: rgb(44, 71, 203);
    color: rgb(255, 255, 255);
    position: fixed;
    top: 515.375px;
    left: 47.647898%;
    z-index: 5;
}

#text {
    float: left;
    font-size: 3em;
    width: 53.644315%;
    height: auto;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    clear: none;
    min-height: 76px;
    font-family: 나눔바른고딕;
    color: rgb(255, 255, 255);
    display: block;
    position: fixed;
    top: 54px;
    left: 22.778486%;
}

#box {
    float: left;
    height: 155px;
    clear: none;
    width: 50.827563%;
    border: 10px solid rgb(255, 255, 255);
    border-top-left-radius: 100px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: block;
    position: fixed;
    top: 115px;
    left: 24.372874%;
    -webkit-box-shadow: rgb(0, 0, 0) -5px 6px 3px 0px;
    box-shadow: rgb(0, 0, 0) -5px 6px 3px 0px;
}

#text1 {
    float: left;
    font-size: 8em;
    width: auto;
    height: auto;
    text-align: justify;
    font-weight: 900;
    line-height: 1em;
    margin-left: 13.684976%;
    margin-top: 12px;
    clear: none;
    min-height: 165px;
    margin-right: 0%;
    font-family: arial;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
}

#formgroup1 {
    float: left;
    height: 66px;
    display: block;
    text-align: left;
    clear: none;
    width: 31.880163%;
    position: fixed;
    top: 415px;
    left: 37.408892%;
    z-index: 5;
}

#text5 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0.2em 0em;
    display: block;
}

#textinput1 {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#text2 {
    float: left;
    font-size: 1em;
    width: 15.06165%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    clear: none;
    min-height: 75px;
    color: rgb(255, 255, 255);
    font-family: arial;
    display: block;
    position: fixed;
    top: 386.375px;
    left: 28.023263%;
    z-index: 5;
}

#text4 {
    float: left;
    font-size: 1em;
    width: 10.68999%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    clear: none;
    min-height: 83px;
    color: rgb(255, 255, 255);
    font-family: arial;
    display: block;
    position: fixed;
    top: 440.375px;
    left: 28.384657%;
    z-index: 5;
}

#image1 {
    float: left;
    width: auto;
    max-width: 2.462949%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 382.375px;
    left: 70.997328%;
    z-index: 5;
}

#image {
    float: left;
    width: auto;
    max-width: 2.462949%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 435.375px;
    left: 70.997328%;
    z-index: 5;
    display: block;
} 