.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
    border-top-right-radius: 3px;
}

#image {
    float: left;
    width: 86.531147%;
    max-width: 100%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 235px;
    left: 7.28053%;
    z-index: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#box {
    float: left;
    height: 166.765625px;
    clear: none;
    width: 86.584821%;
    position: fixed;
    top: 7.764462%;
    left: 7.339308%;
    bottom: auto;
    right: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(255, 187, 51);
}

#text2 {
    float: left;
    font-size: 3.5em;
    width: 24.121622%;
    height: auto;
    text-align: center;
    font-weight: 400;
    line-height: 1em;
    clear: both;
    min-height: 0px;
    font-family: 'Gill Sans MT Ext Condensed Bold';
    color: rgb(255, 255, 255);
    margin-left: 4.193343%;
    margin-top: 10.875px;
    margin-right: 0%;
    text-shadow: rgb(0, 0, 0) -2px 3px 3px;
}

#formgroup1 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 8.0625px;
    margin-top: 0px;
    clear: none;
    width: 35.305168%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#textinput1 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#text4 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#text {
    float: left;
    font-size: 1em;
    width: 16.963108%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    margin-left: 34.727545%;
    margin-top: 27.375px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
}

#text3 {
    float: left;
    font-size: 1em;
    width: 16.963108%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    margin-left: 6.506943%;
    margin-top: 29.03125px;
    clear: none;
    min-height: 0px;
    display: block;
    margin-right: 0%;
    color: rgb(255, 255, 255);
}

#formgroup {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 1.988731%;
    margin-top: 0px;
    clear: none;
    width: 34.957463%;
    margin-right: 0%;
    margin-bottom: 0px;
}

#text1 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#textinput {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#formgroup2 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: -35.561047%;
    margin-top: 64.875px;
    clear: none;
    width: auto;
    min-height: auto;
}

#input1 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text5 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
}

#input2 {
    float: left;
    height: 26px;
    font-size: 1em;
    margin-left: 40.798982%;
    margin-top: 6px;
    clear: both;
    width: 23.857335%;
    background-color: rgb(255, 255, 255);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

#input3 {
    float: left;
    height: 26px;
    font-size: 1em;
    margin-left: 4.672582%;
    margin-top: 6px;
    clear: none;
    width: 21.813171%;
    display: block;
    margin-right: 0%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

#input {
    float: left;
    height: 26px;
    font-size: 1em;
    margin-left: 45.124897%;
    margin-top: 6px;
    clear: none;
    width: 22.728207%;
    display: block;
}

#image2 {
    float: left;
    width: auto;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 71.75px;
    left: 90.448912%;
    display: block;
    max-width: 4.40301%;
}

#image1 {
    float: left;
    width: auto;
    max-width: 4.783259%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 22.375px;
    left: 90.072021%;
    display: block;
}

