
#mainPage #header {
	background:#ffbb33;

}

#leftSideIcon {
	float:left;
	

}
#imageWrapper{
	height:60;
	
}

#rightSideIcon {
	float:right;
}

 /* #mainPage #header .title{
	text-align:center;
	vertical-align:center;
	font-size:40px;
	width:150px;
	float:left;
} 

#mainPage #leftSideIcon{
	float:left;
	display:inline-block;
}
#mainPage #rightSideIcon{
	float:right;
	display:inline-block;
}



#mainPage .ui-listview h1 {    
    font-size: 13px;
    margin:0;
    float : left;
    position : absolute;
    width:30px;

}
#mainPage #header img{
	display:block;
}


#mainPage .ui-listview li {
    box-shadow: 0 0 9px #FFFFFF;
    height:90px;
}

#mainPage .ui-listview .travelPhrase {
    float : left;
    position : absolute;
    margin-top:30px;
}

#mainPage .ui-listview .travelPeriod {
    float : left;
    position:absolute;
    margin-top:47px;
    width:75px;
}




#mainPage .faceThumb_3 {
    float : left;
    margin-top : 30px;
    margin-left:80px ;
    position :absolute;
    border-radius: 50% 50% 50% 50%;
}

#mainPage .faceThumb_4 {
    float : left;
    margin-top : 30px;
    margin-left:120px ;
    position :absolute;
    border-radius: 50% 50% 50% 50%;
}
#mainPage .faceThumb_5 {
    float : left;
    margin-top : 30px;
    margin-left:160px ;
    position :absolute;
    border-radius: 50% 50% 50% 50%;
}
#mainPage .faceThumb_6 {
    float : left;
    margin-top : 30px;
    margin-left:200px ;
    position :absolute;
    border-radius: 50% 50% 50% 50%;
}





#mainPage #my-wrapper form{
    position:fixed;
    margin :0 10% 0 5%;
    top:45px;
    width:90%;
    z-index:100;
}

#mainPage .groupImg {
    float: right;
    margin-left: 40%;
    padding-bottom: 50px;
    position: absolute;
    width: 16px;
    height: 16px;
}

#mainPage .favoImg {
    float: right;
    margin-left: 47%;
    position: absolute;
    padding: 0;
    width: 16px;
    height: 16px;
}

#mainPage .groupCount{
    float: right;
    margin-left: 43%;
    padding-top: 0;
    position: absolute;
    width: 16px;
    height: 16px;
    font-family:'NEXONFOOTBALLGOTHICB', sans-serif;
    color: #7ac54a;
}

#mainPage .favoriteCount{
    float: right;
    margin-left: 50%;
    padding-top: 0;
    position: absolute;
    width: 16px;
    height: 16px;
    font-family:'NEXONFOOTBALLGOTHICB', sans-serif;
    color: #a80000;
}



*/



/* left slide */	
.ng-pageslide {
	background: #eee;
	opacity: 0.9;
}

/*  close icon  */
#leftPanel-close {
	float: right;
}

/*   settings icons 1st   */
.systemSettings1 {
	margin-top: 30%;
	text-align: center;
}

/*    icons margin 1st     */
#sysinfo {
	margin-right: 20%;
}

/*   settings icons 2nd  */ 
.systemSettings2 {
	margin-top: 20%;
	text-align: center;
}

/*    icons margin 2st     */
#userInfo {
	margin-right: 20%;
}


/*  rightPanel */
/* 방장 사진 */ 
#hostUserPic{
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 22.394678%;
    margin-top: 44px;
}

/* 방장 이름 */
#hostUserName {
	font-family:'NEXONFOOTBALLGOTHICB';
    float: left;
    font-size: 1em;
    width: 50.01%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 2%;
    margin-top: 60px;
    min-height: 28px;
}

/* 참여 목록 */
#attandingView .form-control{
	font-family:'NEXONFOOTBALLGOTHICB';
	margin-top: 20px;
	float: left;
    height: auto;
    padding: 5px;
    font-size: 1em;
    display: block;
    width: 80%;
    margin-right: 10px;
    margin-left: 10px;
}

/* 여행기간 */
.tripPeriod #tripPeriod{
  font-family:'NEXONFOOTBALLGOTHICB';
}

/* 확정자 게시판 이미지 */
#groupMeeting{
	 float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 0%;
    clear: none;
    color: rgb(0, 0, 0);	
    margin-top: 20px;
}

/* 강퇴&초대 버튼 */
.tripActionBtn{
	text-align: center;
	margin-top: 100px;
	font-family:'NEXONFOOTBALLGOTHICB';
}

/* 강퇴버튼 */
.tripActionBtn #kickOutBtn{
	margin-right: 10px;
}

/* 디데이 알림 달력사진 */
#dDayAlert{
	 float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 15%;
    margin-top: 44px;
}

/* 디데이 알림 문구 */
#dDayCal{
	font-family:'NEXONFOOTBALLGOTHICB';
  	float: left;
    font-size: 1m;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 5%;
    margin-top: 48px;
    min-height: 28px;
}

/* 오른쪽 패널 닫기 */
#rightPanel-close{
	float: left;
}
 