/*fonts*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

/* 페이지 가로 크기 */
#mainPage .container-mainPage{
/* 	width: 80%;
	margin: auto; */
	border-width: 10px;
	border-style: solid;
	border-color: #fcd487

}

/* 서치바디자인 */
.ui-filterable .ui-input-search{
	font-family: 'Nanum Gothic Coding', monospace;
 	background-color: white;
	text-align: center;
	text-color: black;			
	z-index:999;
	position:fixed;
	width: 100%;
	margin-left: -10px;
	margin-top:-11px;
	border-color: #ccc; 
}

/* 배경 색깔 */
#mainPage #header{
	background:#ffbb33;
}

/* 헤더 고정 */
#imageWrapper{
	z-index:999;
	position:fixed;
	height: 52px;
	width: 100%;
	background: #ffbb33;
	margin-top:-10px;
	margin-left: -10px;
}

/* 헤더 왼쪽 아이콘 */
#imageWrapper #leftSideIcon {
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;
	width: 30px;
	height: 30px;
}

/* 헤더 오른쪽 아이콘 */
#imageWrapper #rightSideIcon {
	margin-top: 7px;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 90%;
}

/* 제목 */
#imageWrapper #mainPageTitle{
	font-family: 'Nanum Gothic Coding', monospace;
	left: 42%;
	position: absolute;
	font-size: 30px;
	color: white;
}


/* 여행사진 */
#tripPictures #tripPcture{
	height: 120px;
	border-radius: 8px;
	width:100%;	
}

/* 여행지  위치*/
#tripDestinationTag .visible {
	width: 100%;
	text-align: left;
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* 여행지 오렌지색 정의 */
#tripDestinationTag .visible #tripDestination{
	color:orange;
}

/* 여행제목 */
#tripTitleTag #tripTitle{
	font-family: 'Nanum Gothic Coding', monospace;
	text-align: left;
	color: black;
	font-size: 10px;
	margin-left: 5px;
	margin-bottom: -4px;
	font-size: 12px;
}

/* 여행기간 */
#tripPeriodTag #tripPeriod{
	font-family: 'Nanum Gothic Coding', monospace;
	text-align: left;
	color: black;
	font-size: 12px;	
	margin-left: 5px;
}

/* 아이콘 카운트 위치 */
.iconsBack #mainIcons #participants{
	height:35px;
	float: right;
	background-color: #e9e9e9;	
	border-radius: 6px;
	padding-left: 2px;
	margin-bottom: -10px;

}

/* 참가자, 아이콘 위치 */
.iconsBack #mainIcons{
	/* background-color: #e9e9e9; */
	background-color:#f6f6f6;
	border-radius: 8px;
	margin-top: 5px;
}

/* 리스트 배경색,탑 */
#listviewMainPage{
		background:#ffbb33;
		margin-top: 45px;
}

/* 리스트뷰간 공백 */
#listviewMainPage #eachListview{
	padding:0;
	margin-top:20px;
	margin-left:30px;
	margin-right:30px;
	border-radius: 8px;
}

/* 아이콘이미지 */
.iconsBack .icons img{
	width:30px;
	height:30px;
	border-radius: 8px;
	margin-top: 2px;
	border: none;
	padding: 0;
}

/* 얼굴이미지  1*/
.iconsBack .icons #face1{
	border-radius: 8px;
	margin-left: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
}

/* 얼굴이미지2 */
.iconsBack .icons #face2{
margin-bottom: 2px;
margin-top: 0;
	}
	
/* 얼굴이미지3 */
.iconsBack .icons #face3{
margin-bottom: 2px;
margin-top: 0;
border: none;
	}
	

/* 좋아요 숫자 */
#participants #mainLikeNum{
	margin-right: 5px;
}

/* 아이콘 크기 */
.iconsBack .icons #participants img{
	width:13px;
	height:13px;
	background-color: #e9e9e9; 
	
}

/* 모집인원 숫자 */
.iconsBack #participants #mainTripMember{
	font-size: 12px;	
	margin-top: 0;
	margin-right: 5px;
}

/* 좋아요 숫자 */
.iconsBack #participants #mainLikeNum{
	font-size: 12px;	
	margin-top: 0;
}

/* 타임라인 쓰기 고정 */
#wtiteTimeline #wirteTrip{
	height:50px;
	margin-bottom:0;
	bottom:0;
	z-index:999;
	position:fixed;
/* 	float: right;
	text-align:right; */
	left: 85%;

}



/* left slide------------------------------------------- */	
.ng-pageslide {
	/* background: #eee; */
	background-color: #FFF;
	opacity: 0.9;
}

/*  close icon  */
#leftPanel-close {
	float: right;
}

/*   좌측 패널 아이콘 간격  */
.systemSettings1 #userInfo{
	margin-top: 40px;
	margin-left: 27px;
}

.systemSettings1  #acceptance, #sysinfo, #settings{
	margin-bottom: 40px;
	margin-left: 27px;
}

/* 로그아웃 버튼 */
.systemSettings2 #logoutBtn{
	width:80px;
	margin-left: 10px;
	font-family: 'Nanum Gothic Coding', monospace;
}


/*  rightPanel ------------------------------------------------*/
/* 방장 사진 */ 
#rightPanel .userIcon{
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 22.394678%;
    margin-top: 44px;
}

/* 방장 이름 */
#hostUserName {
	font-family: 'Nanum Gothic Coding', monospace;
    float: left;
    font-size: 1em;
    width: 50.01%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 2%;
    margin-top: 60px;
    min-height: 28px;
}

/* 참여 목록 */
#attandingView .form-control{
	font-family: 'Nanum Gothic Coding', monospace;
	margin-top: 20px;
	float: left;
    height: auto;
    padding: 5px;
    font-size: 1em;
    display: block;
    width: 80%;
    margin-right: 10px;
    margin-left: 10px;
}

/* 여행기간 */
#rightPanel .tripPeriod{
 font-family: 'Nanum Gothic Coding', monospace;
  text-align: center;
}

/* 확정자 게시판 이미지 */
#groupMeeting{
	 float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 0%;
    clear: none;
    color: rgb(0, 0, 0);	
    margin-top: 20px;
}

/* 강퇴&초대 버튼 */
.tripActionBtn{
	font-family: 'Nanum Gothic Coding', monospace;
	text-align: center;
	margin-top: 50px;	
}

/* 강퇴버튼 */
.tripActionBtn #kickOutBtn{
	font-family: 'Nanum Gothic Coding', monospace;
	margin-right: 10px;
}

/* 디데이 알림 달력사진 */
#dDayAlert{
	 float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 15%;
    margin-top: 44px;
}

/* 디데이 알림 문구 */
#dDayCal{
	font-family: 'Nanum Gothic Coding', monospace;
  	float: left;
    font-size: 1m;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 5%;
    margin-top: 53px;
    min-height: 28px;
}

/* 오른쪽 패널 닫기 */
#rightPanel-close{
	float: left;
}

#rightPanel ul{
	padding-left:10%;
}

#rightPanel .selectedTrip {
	text-align:center;
}

/* 트립유저 목록 */
#rightPanel .tripUser {
	list-style-type: none;
	font-size:15px;
	border:outset;
	border-radius: 5px;
	margin-right:10%;
	margin-top:10px;
	margin-bottom:10px;
}

#rightPanel .tripUser .woman {
	margin-left:10%;
	color:red;
}
#rightPanel .tripUser .man {
	margin-left:10%;
	color:blue;
}

/* 트립유저 목록에서 삭제하기 버튼 */
#rightPanel .tripUser .removeUser{
	width:20px;
	height:20px;
	float:right;
	margin-right:5%;
}
 