/* body{
	position:relative;
 	padding-top: 30px;
 	padding-bottom: 50px;
}  */

.main{
	background-image: url("../resources/img/TK.jpg");
	background-size: cover;
	opacity: .8;
	width: 80%;
	margin: auto;

} 

/* ���� */
.form-horizontal{
		margin: auto;
		background-color: #ccccff;

		-webkit-border-radius: 6;
   		  -moz-border-radius: 6;
          	border-radius: 6;
}

/* ���� */
h1{
	text-align: center;
	color: #3333ff;
}

/* �� */
.form-group label{
	margin-left: 5px;
}

/* input ���� */
.form-group input{
	border-color: #3366ff;
	margin-left: 15px;
	margin-top: 10px;
}

/* ���� üũ�ڽ� */
.form-group .optionsRadios{
	margin-left: 15px;
	margin-top: 10px;
}

/* ������ε� */
.form-group #exampleInputFile{
	margin-top: 10px;
}

/* ���Թ�ư */
.form-group #registerbtn{
	margin-left: 20px;
	margin-top: 20px;
	width:80%;
}
