.header-tripDetail {
	background-color: #FFBB33;
	text-align: center;
	height: 50px;
	color: white;
	font-size: 2em;
	z-index:999;
	padding-top: 8px;
	position:fixed;
	width:102%;
}


.tripDetail {
	padding-top:50px;
	padding-left: 8%; 
	line-height: 2.5em;
	padding-bottom:40px;
	font-family:nanomgothic;
	font-size:13px;
	background-color: white; 	
	color:#777;
	
}

/* .tripDetail .title {
	font-size: 35px;
	font-family:nanomgothicBold;
	margin-top: 40px;
	margin-left: 40px;
	color: #333;
} */

/* .tripDetail .tripAdd {
	float: left;
	margin-left: 300px
} */


/* 방장 사진 */
.tripDetail .userPho {
	height: 70px;
	width: 70px;
	/* margin-top: 0.5em;
	margin-left: 1.5em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 6px 6px 6px -1px rgba(59, 75, 45, 0.64);
	-moz-box-shadow: 6px 6px 6px -1px rgba(59, 75, 45, 0.64);
	box-shadow: 6px 6px 6px -1px rgba(59, 75, 45, 0.64); */
	border: 3px solid #FFBB33;;
	border-radius: 70px;
	margin-left:30%;
}

.tripDetail .mainPosition{
	position:relative;
}

/* 디테일 페이지 메인 사진 */
.tripDetail .mainImg  {

	 margin: 1em; 	
	height: 200px;
	width: 87%;
	padding: 10px 10px 10px;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
/* 메인 사진 위에 글짜 쓰기 */
.tripDetail .tripDetailImageText{
		position:absolute;
		bottom :30px;
		left : 10%;
		color : white;
		font-size : 20px;
		font-family:nanomgothicExtraBold;
}

/* 여행지 */
.tripDetail .detailTitle{
		
	font-family:nanomgothicBold;
	color : white;
	font-size : 15px;
	background-color: #FFBB33;
	width:80%;
	padding-left :25%;
	margin-bottom:10%;
	margin-top:3%;
}

/* 아이콘 카운트 위치 */
.tripDetail #tripParticipants{
	display:block;
	height:35px;
	margin-top: 6px;
}


/* 유저닉네임  */
.tripDetail .nick{
	margin-left:26%;
	 
	
}


.tripDetail .username {
	margin-left: 2%;
	background-color:#FFBB33;
	color: white;
	font-weight:400;
	
}




/* 여행참가 버튼 */
.tripDetail #signUpTripBtn {
	margin-left:70%;
}


/* 달력 */
.tripDetail .cal {
	height: 30px;
	width: 30px;
	margin-right: 5px;
}

/* 여행 스케쥴 */
.tripDetail .tripDetailSchedule{
	color:#777;
	font-family:nanomgothic;
}
/* 메인상세페이지 상세내용 */
.tripDetail .desc {
	border-top: 2px solid;
	border-color: #FFBB33;
	width: 100%;
	font-size: 15px;
	padding-top:4%;
	padding-bottom:4%;
	color:#777;
	font-family:nanomgothic;
}

/*메인 상세 페이지 수정 삭제*/
.tripDetail .addBtn{
	/* border-bottom:2px solid;
	border-color:#FFBB33;
	width:100%; */
	padding-bottom:5%;
}

/* 수정하기 버튼 */
.tripDetail .editTrip{
	margin-left:10%;
	width:35%;
	color:FFBB33;
}

.tripDetail .deleteTrip{
	margin-left: 10%;
	width:35%;
}

/* 리플 시작 위에 선 긋기 */
.tripDetail .tripDetailReplyList{
	border-top:2px solid;
	border-color:#FFBB33;
	width:95%;
}


/* li */
.tripDetail .reply{
	margin-top:20px;
	margin-bottom:20px;
	font-size:15px;	
}

.tripDetail ul{ 
	list-style-type:none;
	padding:0;
}


.tripDetail ul .reUser img{
	height:40px;
	width:40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 6px 6px 6px -1px rgba(59, 75, 45, 0.64);
	-moz-box-shadow: 6px 6px 6px -1px rgba(59, 75, 45, 0.64);
	box-shadow: 6px 6px 6px -1px rgba(59, 75, 45, 0.64);


}

/* 휴지통 */
.tripDetail ul .delete img{
	height:30px;
	width:30px;
	
}

/* 수정 */
.tripDetail ul .edit img{
	height:30px;
	width:30px%;
	margin-left:10px;
}


/* 리플 유저닉네임 */
.tripDetail .reNick{
	margin-left:20px;
	width:20%;
	color:#777;
	font-family:nanomgothic;
}

/* 리플 입력 버튼 */
.wraper-footer-tripDetail .replybtn {
	float: right;
	font-family:nanomgothic;
	margin-right: 10px;
	height: 30px;
	margin-top: 3px;
} 


#writeTripDetailBtn{
	float: right;
	font-family:nanomgothic;
}



 .wraper-footer-tripDetail input{
 	float:left;
 	font-family:nanomgothic;
	height: 30px;
	width: 96%;
	border-style: solid;
	border-width: 1px;
	border-color:#ccc;
	padding:4px;
	outline: 0;
	margin-left: 5px;
	margin-top: 3px;
	border-radius:4px;
	margin-bottom: 2px;
} 


/* 리플 입력 게시판 하단 고정시키기 */
.wraper-footer-tripDetail{
	height:37px;
	position:fixed;
	bottom:0;
	width:100%;
	z-index:999;
	background-color: #f3f4f3;
	border-top-color: #ffbb33;
	border-top-style: solid;
	border-top-width: 2px;
}

/* 말풍선 모양 리플 만들기 */
.arrow_box {
	position: relative;
	background: #FFFFFF;
	border: 4px solid #f5b216;
	color:#777;
	font-family:nanomgothic;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(210, 213, 200, 0);
	border-right-color: #FFFFFF;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(245, 178, 22, 0);
	border-right-color: #f5b216;
	border-width: 16px;
	margin-top: -16px;
}	
/* //////////////////////////////tripDetail 상세 보기 수정 페이지/////////////////////////////////////// */

/* 배경 색 */
/* .tripDetail {
	background-color: white;	
}
 */
/* //////////// 사진 올리기 관련///////////////////////////////////////////////////////////////////////////////////////// */
/* 여행사진 라벨 */

/* .tripDetail #addTripPhotoLabelSpace #addTripPhotoLabel{
	font-family: 'Nanum Gothic Coding', monospace;
	color: #ffbb33;
	font-weight: bold;
	margin-left: 15px;

} */

/* #addTripPhotoLabelSpace{
		margin-top: 15px;
		margin-bottom: 15px;
	
}
 */
/* 여행사진 올리기 */
 .tripDetail #editTripPhotoSpace{
	width:100%;
	height: 200px;
	background: url('../images/TK.jpg');
	background-size: cover;
	opacity:0.8;
	
}

/* 여행사진 올리기 이미지 */
.tripDetail #editTripPhotoSpace #editTripPhotoImg{
	text-align: center;
}

/* 여행 사진 올리기 텍스트 */
/* .tripDetail #editTripPhotoSpace #editTripPhotoText{
	font-family:nanomgothic;
	text-align: center;
	color:#615f5f;
} */

/* 사진을 올려주세요 */
.tripDetail #editTripPhotoSpace #editTripPhotoText #editTripPhotoUpload{
	font-family:nanomgothic;
	color:orange;
	background-color: white;
}	
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* 폼 라벨 */
.tripDetail #tripTitleLabel, #editDestinationLabel,#tripNumberLabel-editTrip, #tripPeriodLabel, #editScheduleEndLabel, #editTripContextLabel{
	text-align: left;
	width: 70px;
	margin-left: 3px;
	margin-top: -5px;
}

/* 세부내용 라벨 */
/*  .tripDetail #editTripContextLabel{
 	text-align: left;
	width: 70px;
	margin-left: 15px;
	margin-top: 10px;
 } */
 
/* 리스트뷰 상단 줄 */
.tripDetail #editTitleGroup{
	border-top-color: #ffbb33;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-color: #ffbb33;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-top: 20px;
	margin-right:20px;
}

/* 리스트뷰 입력란  */
.tripDetail #tripTitleInput, #editDestinationText, #tripNumberInput-editTrip{
	font-family:nanomgothic;
	width: 72%;
	border: none;
	margin-left: -30px;
	height: 43px;
	vertical-align: middle;
}
/* 세부내용입력 */
.tripDetail #editTripContextText{
	font-family: 'Nanum Gothic Coding', monospace;
	width: 72%;
	border: none;
	margin-left: -30px;
	margin-right:0;
	height: 43px;
	vertical-align: middle;
}

/* 리스트 뷰 입력 공간 */
.tripDetail  #editScheduleGroup{
	border-bottom-color: #ffbb33;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-right:20px;
	background-color: white;	
	margin-bottom: 0px;
}
.tripDetail #editScheduleGroup{
	margin-top:-15px;
}

/* .tripDetail #editDestinationGroup{
	margin-top:10px;
} */

/* 여행지 입력 공간 */
.tripDetail #editDestinationGroup{
	border-top-color: #ffbb33;
	border-top-width: 1px;
	border-top-style: solid;
	background-color: white;	
	margin-bottom: -15px;
	/* margin-top: -15px; */
	margin-right: 10px;
}

/* 모집인원 아래 여백없애기 */
.tripDetail #countEditTrip{
	margin-bottom:-5px;
}

/* .tripDetail #tripNumberInput-editTrip{
	margin
} */

/* 수정페이지 세부내역 */
.tripDetail #contextEditTripSpace{
	margin-right:20px;
	border-top-color: #ffbb33;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-color: #ffbb33;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
/* 여행 출발일  */
.tripDetail #datepicker7{
	float: left;	
	font-family:nanomgothic;
	border: none;
	height: 43px;
	width: 32%;
	margin-left: -30px;
	border-right-color: #ffbb33;
	border-right-width: 1px;
	border-right-style: solid;
	color:#615f5f;
}

/* 도착일 입력란 */
.tripDetail #datepicker8{
	font-family:nanomgothic;
	border: none;
	height: 43px;
	width: 30%;
	margin-left: -30px;
}

/* 여행 수정하기 버튼 */
.tripDetail #updateEditTrip{
	font-family:nanomgothic;
	padding: 5px;
	width: 88%;
	margin-left: 17px	
}

/* .tripDetail #editDetailButton{
	margin-right:20px;
} */

/* 좋아요 버튼 */
.tripDetail #tripDetailCheckLike{
	margin-bottom: 10px;
	margin-top: -20px;
	margin-left: 42%;
	float: left;
	
}
