.header-tripDetail {
	background-color: #FFBB33;
	text-align: center;
	height: 50px;
	color: white;
	font-size: 2em;
	z-index:999;
	padding-top: 8px;
	position:fixed;
	width:100%;
}


.tripDetail {
	padding-top:50px;

	padding-left: 8%;
	line-height: 2.5em;
	padding-bottom:40px;
}

.tripDetail .title {
	font-size: 35px;
	font-weight: 900;
	margin-top: 40px;
	margin-left: 40px;
	color: #333;
}

/* .tripDetail .tripAdd {
	float: left;
	margin-left: 300px
} */

.tripDetail .userPho {
	height: 70px;
	width: 70px;
	margin-top: 0.5em;
	margin-left: 1.5em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 6px 6px 6px -1px rgba(59, 75, 45, 0.64);
	-moz-box-shadow: 6px 6px 6px -1px rgba(59, 75, 45, 0.64);
	box-shadow: 6px 6px 6px -1px rgba(59, 75, 45, 0.64);
}

.tripDetail .username {
	margin-left: 3.1em;
}

.tripDetail .mainImg {
	 margin: 1em; 
	
	height: 200px;
	width: 87%;
	padding: 10px 10px 10px;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
.tripDetail .addTrip {
	margin-left:70%;
}



.tripDetail .cal {
	height: 30px;
	width: 30px;
	margin-right: 5px;
}

.tripDetail .desc {
	border-top: 1px solid;
	border-color: skyblue;
	width: 430px;
	font-size: 15px;
}

/* li */
.tripDetail .reply{
	margin-top:20px;
	margin-bottom:20px;
	font-size:15px;
	
	
}
.tripDetail ul{ 
	list-style-type:none;
	padding:0;
}


.tripDetail ul .reUser img{
	height:40px;
	width:40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 6px 6px 6px -1px rgba(59, 75, 45, 0.64);
	-moz-box-shadow: 6px 6px 6px -1px rgba(59, 75, 45, 0.64);
	box-shadow: 6px 6px 6px -1px rgba(59, 75, 45, 0.64);


}

/* 휴지통 */
.tripDetail ul .delete img{
	height:30px;
	width:100%;
	
}

/* 수정 */
.tripDetail ul .edit img{
	height:28px;
	width:100%;
	margin-left:10px;
}

.tripDetail .reNick{
	margin-left:20px;
	width:20%;
}


.wraper-footer-tripDetail .replybtn {
	margin-left: 30px;
} 



 .wraper-footer-tripDetail input{
	height: 35px;
	width: 100%;
	background-color: transparent;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: darkred;
	outline: 0;
	margin-left:30px;
} 


/* 리플 입력 게시판 하단 고정시키기 */
.wraper-footer-tripDetail{
	height:50px;
	position:fixed;
	bottom:0;
	width:100%;
	z-index:999;
}