/*fonts*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

/* 페이지 테두리 */
/* .tripManagerView .container-tripManager{
	border-width: 6px;
	border-style: solid;
	border-color: #e6bb46;
	border-radius: 8px;
} */

/* 헤더 */
#imageWrapper-tripManager{
		height: 50px;
		background: #ffbb33;
		margin-bottom: 20px;
}

/* 헤더 제목 */
#imageWrapper-tripManager #mainPageTitle{
		font-family: 'Nanum Gothic Coding', monospace;
		left: 40%;
		position: absolute;
		font-size: 30px;
		color: white;	
}

/* 헤더 오른쪽 아이콘 */
#rightSideIconTripManager{
	margin-top: 7px;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 90%;
}

/* 서치바 공간 */
.tripManagerSearchbatSpace{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #cccccc;
}

/* 서치바 */
#tripManagerSearchbar{
	width: 80%;
	margin: auto;
	margin-bottom: 30px;
}

/* 서치바 테두리 */
#tripManagerSearchbar #tripManagerSerchbarInputId{
	font-family: 'Nanum Gothic Coding', monospace;
	border-color: #ffbb33;
}

/* 추천인 리스트 */
#listviewTripManagers li{
	padding: 10px;
	font-family: 'Nanum Gothic Coding', monospace;
	list-style-type:none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #cccccc;
	margin-left:-40px;
	background-color: white;
}

/* 추천인 사진 */
#listviewTripManagerUserInfo #listviewTripManagerUserPhoto{
	border-width: 1px;
	border-color: #ffbb33;
	border-style: solid;
	border-radius: 100px;
	padding: 3px;
}

/* 추천인 아이디 */
#listviewTripManagerUserInfo #listviewTripManagerUserID{
	font-family: 'Nanum Gothic Coding', monospace;
	font-size: 12px;
	font-weight: bold;
	color: black;'
}

/* 추천버튼 */
#listviewTripManagerUserInfo #listviewTripManagerAcceptanceBtn{
	font-family: 'Nanum Gothic Coding', monospace;
	margin-top:2px;
	float: right;
}

/* 버튼 디자인 */
#listviewTripManagerUserInfo #listviewTripManagerAcceptanceBtn .btn-warning{
		background-color: white;
		color: #ffbb33;
		font-family: 'Nanum Gothic Coding', monospace;	
		width: 35px;
		border-color: #ffbb33;
}

